/*Normal Variable Font */
@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 500 800;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    line-height: 150%;
    letter-spacing: 0px;
    background-color: #f4d04e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 380px;
    background-color:  #fff;
    padding: 1.4rem;
    border-radius: 1.2rem;
    border: 1px solid #111;
    box-shadow: 8px 8px 0px 0px #111;
}

.card img {
    width: 100%;
    border-radius: 0.7rem;
}

.tag {
    font-weight: 800;
    font-size: clamp(12px, 2vw, 14px);
    padding: 0.2rem 0.8rem;
    margin: 1rem 0 0.7rem 0;
    background-color: #f4d04e;
    display: inline-block;
    border-radius: 0.2rem;
}

.publish-date {
    font-weight: 500;
    font-size: clamp(12px, 2vw, 14px);  
}

.blog-title {
    font-weight: 800;
    font-size: clamp(18px, 3vw, 24px);
    margin: 1rem 0;
}

.content-preview {
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 16px);
    color: #6b6b6b;
    margin: 0.3rem 0;
}

.author {
    font-weight: 800;
    font-size: clamp(12px, 2vw, 14px);
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 1.25rem 0 0.25rem 0;
}

.author img {
    width: 30px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0.5rem;    
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.blog-title:hover,
.blog-title:focus,
.blog-title:active {
    color: #f4d04e;
    cursor: pointer;
}

@media (max-width:410px) {
    .card {
        width: 280px;
    }
}